.breadcrumbs{
    /* margin:10px; */
    margin-left: -25px;
    /* height:36px; */
    line-height:36px;
    color:rgb(198, 58, 27);
    font-size: 20px;
    font-family: simsun;
    text-align: left;
}

.element {
    display: inline;
}
.bcA{
    color:rgb(198, 58, 27);
    text-decoration: none;
}

.bcA:hover{
    color:rgb(198, 144, 27);
    
}

.bcspan{
    margin:0 10px;
}