.footer{
    background: rgba(238, 147, 44, 0.5);
    margin-top:10px;
    padding:10px;
}
.footera{
    color: rgb(198, 58, 27);
}

@media (min-width: 500px){
    .footer{
        margin: 10px;
    }
}