.navigation{
    background: rgba(250, 220, 186, 0.5);
    margin:10px;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(4, 24%);

}

h1{
    margin:5px;
    padding:5px;
    color: rgb(198, 58, 27);
    font-family: Palatino, serif;
    font-size: 60px;
}

@media (min-width: 500px){
    .navigation{
        margin:10px;
        padding:10px;
        display: grid;
        grid-template-columns: repeat(1, 96%);
    }

    h1{
        
        font-size: 30px;
    }
}

@media (min-width: 800px){
    .navigation{
        margin:10px;
        padding:10px;
        display: grid;
        grid-template-columns: repeat(2, 48%);
    }
    h1{
        
        font-size: 50px;
    }
}

@media (min-width: 1000px){
    .navigation{
        margin:10px;
        padding:10px;
        display: grid;
        grid-template-columns: repeat(4, 24%);
    }
    h1{
        
        font-size: 60px;
    }
}

