@media (min-width: 500px){
    
    .navia0{
        color: rgb(198, 58, 27);
    }
    .navia1{
        color: rgb(198, 58, 27);
    }
    

    .inline0{
        list-style:none;
        line-height:30px;
        margin-left:-30px;
        padding:10px;
        position: left;
        font-size: 24px;
        font-family: Palatino, serif;
    }
    .navigationul0 :hover{
        background-color:rgba(243, 248, 194, 0.5);
        /* height:50px; */
        width:100%;
    }
    .dropdownDiv{
        display:inline-block;
        position:relative;
        background-color:rgba(250, 220, 186, 0.5);
        margin:5px;
        padding:5px;
        width:95%;
        
    }
    .dropdownDiv:hover .dropdown{
        display:block;
        background-color: white;
        width:120px;
        
    }
    .home{
        /* background-color:rgba(250, 220, 186, 0.5); */
        padding:5px;
        font-size: 40px;
        font-family: Palatino, serif;
        
    }
    .dropdown{
        display:none;
        position:absolute;
        background-color:white;
        margin:0px;
        padding:5px;

        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        min-width: 150px;
    }
    
}

@media (min-width: 800px){
    .navigationul{
        background: rgba(250, 220, 186, 0.5);
        margin:10px;
        padding:10px;
        display: grid;
        grid-template-columns: repeat(2, 48%);
    }
    .navih1{
        
        margin:5px;
        padding:5px;
        color: rgb(198, 58, 27);
        font-family: Palatino, serif;
        font-size: 50px;
    }
    .navia{
        color: rgb(198, 58, 27);
    }

    .inline{
        list-style:none;
        font-size: 25px;
        font-family: Palatino, serif;
        text-align: left;
        
    }
}

@media (min-width: 1000px){
    .navigationul{
        margin:10px;
        padding:10px;
        display: grid;
        grid-template-columns: repeat(4, 24%);
    }
    .navih1{
        margin:5px;
        padding:5px;
        color: rgb(198, 58, 27);
        font-family: Palatino, serif;
        font-size: 60px;
    }
    .navia{
        color: rgb(198, 58, 27);
    }

    .inline{
        list-style:none;
        font-size: 25px;
        font-family: Palatino, serif;
        text-align: center;
        
    }
}

