.category{
    margin:10px;
    padding: 10px;
    font-family: Palatino, serif;
    font-size: 20px;
    display: flow;
    justify-content: space-between;
    background: rgba(250, 245, 238, 0.5);
    box-shadow: 0 6px 8px 0 dimgray; 
}

.dishTitle{
    margin:5px;
    padding:5px;
    color: rgb(198, 58, 27);
    font-size: 45px;
}

.cateimage{
    margin:5px;
    padding:5px;
    width:95%;
    height:80%;

}
.catea{
    color: rgb(198, 58, 27);
}

.summaryDiv{
    margin:10px;
    padding: 10px;
    border: 2px solid rgb(237, 125, 50);
}
.summaryTitle{
    padding:5px;
    color: rgb(198, 58, 27);
    font-size:35px;
}

.summaryP{
    margin:5px;
    font-size:20px;
    font-family: Trebuchet MS, sans-serif;
    
}

@media (min-width: 500px) {
    .dishTitle{
        margin:5px;
        padding:5px;
        font-size: 35px;
    }
    .summaryTitle{
        padding:5px;
        font-size:25px;
    }
    .cateimage{
        margin:5px;
        padding:5px;
        /* text-align: center; */
        width:95%;
        height:80%;
    
    }
    
}

@media (min-width: 800px) {
    .dishTitle{
        margin:5px;
        padding:5px;
        font-size: 25px;
    }
    .summaryTitle{
        padding:5px;
        font-size:20px;
    }

    .cateimage{
        margin:5px;
        padding:5px;
        /* text-align: center; */
        width:95%;
        height:80%;
        

    }
    
}

@media (min-width: 1000px) {
    .dishTitle{
        margin:5px;
        padding:5px;
        font-size: 45px;
    }
    .summaryTitle{
        padding:5px;
        font-size:35px;
    }
    .cateimage{
        margin:5px;
        padding:5px;
        /* text-align: center; */
        width:95%;
        height:80%;
        

    
    }
    
}




